/* css */
.one1 {
    margin-top: 0px;
    padding: 10px;
}

.jevelin {
    margin-left: 110px;
}

.jevelin1 {
    margin-left: 105px;
}

html,
body {
    overflow-x: hidden;
}

body {
    position: relative;
}

.images1 {
    background: #f0f0f0;
}

.phones {
    color: #0d6efd;
}

.phones1 {
    color: #929090;
}

.cartbtn {
    background: #f0f0f0;
}

.review {
    color: #0d6efd;


}

.nav-tabs {
    border-bottom: 2px solid #dee2e6;

}

.btn-cart {
    background: #0d6efd;
    color: #fff;
    margin-left: 67px;

}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {

    border-color: #fff;
    border-bottom: 2px solid #0d6efd;

}

.review1 {
    margin-left: 20px;
}

.box1 {
    margin-top: 116px;
}

.box2 {
    background: #1b1b1b;
}

.jev {
    color: #fff;
}

.jev1 {
    color: #fff;
}

.twit {
    margin-left: 25px;
}

.hori2 {

    margin-top: 30px;
    color: #fff;

}

.info {

    font-size: 12px;
    color: #c4c1c1;

}

.email1 {
    color: #9e9e9e;
    font-style: italic;
    font-size: 19px;
}

.ms1 {
    position: relative;
    left: 105px;
}

.stars1 {
    margin-left: 92px;
}

.shops {
    color: #0d6efd !important;
}

.new1 {
    position: relative;
    bottom: 10px;
    left: 2px;
}

.round1 {
    position: relative;
    top: -32px;
    left: 25px;
    font-size: 10px;
}

.dang1 {

    position: absolute;
    left: 516px;

    bottom: 80%;
}

.btn-circle {
    box-shadow: 3px 0px 19px #e9e8e8;
    margin-left: 550px;
    position: relative;
    top: 110px;
}

.offcanvas-end {
    top: 0;
    right: 0;
    width: 93px;
    height: 400px;
    border-left: 1pxsolidrgba(0, 0, 0, .2);
    transform: translateX(100%);
}

@media (max-width:992px) {



    .jevelin {
        margin-left: 10px;
    }

    .ms1 {
        position: relative;
        left: 181px;
    }



    .btn-circle {
        box-shadow: 3px 0px 19px #e9e8e8;
        margin-left: 550px;
        position: relative;
        top: 110px;
        display: block;

    }

    .twit {
        position: relative;
        right: 59%;
    }

    .one99 {
        position: relative;
        right: 5px;
        display: contents;
    }

    .stars1 {
        margin-left: 0px;
        display: contents;
    }

}

@media(max-width:768px) {


    .jevelin {
        margin-left: 10px;
    }

    .btn-circle {
        box-shadow: 3px 0px 19px #e9e8e8;
        margin-left: 550px;
        position: relative;
        top: 110px;
        display: block;

    }

    .twit {
        position: relative;
        right: 59%;
    }

    .one99 {
        position: relative;
        right: 5px;
    }

    .stars1 {
        margin-left: 0px;
    }

    @media(max-width:1024px) {
        .jevelin1 {
            margin-left: 26px;
        }
    }

}