.one1
{
    margin-top: 0px;
    padding: 10px;
}

.jevelin
{
    margin-left: 110px;
}
.jevelin1
{
    margin-left: 194px;
}
body
{
    overflow-x:hidden;
}
.images1
{
    background:#f0f0f0;
}
.phones
{
    color:#0d6efd;
}
.phones1
{
    color:#929090;
}
.cartbtn
{
    background:#f0f0f0;
}
.review
{
    color:#0d6efd;
   
}
.review1
{
    margin-left:20px;
}
.free1
{
    color:#000;
    font-weight:bold;
    margin-left:32px;
}
.free2
{
    margin-left:32px;
}
.box1
{
    margin-top: 116px;
}
.box2
{
   background:#1b1b1b;
}
.jev
{
    color:#fff;
}
.jev1
{
    color:#fff;
}
.twit
{
    margin-left: 46px;
}
.hori2
{

    margin-top: 30px;
    color: #fff;

}
.info
{
    
    font-size: 12px;
    color:#c4c1c1;

}